*{
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	/*background-color: #282828;*/
	background-color: #fff;
	font-family: Lato, Sans-serif;
	font-size: 16px;
}

.contenedor{
	/*background-color: #333333;*/
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow:hidden;
}

/*-----------Header-----------*/

	

	
	

	
	









@media screen and (max-width: 800px) {

}

@media screen and (max-width: 500px) {
	


	
}






