*{
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	/*background-color: #282828;*/
	background-color: #fff;
	font-family: Lato, Sans-serif;
	font-size: 16px;
}

.contenedor{
	/*background-color: #333333;*/
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow:hidden;
}

/*-----------Header-----------*/

header{
	background:  url("../img/fondoImg.jpg") #49a3d6;
	background-repeat: no-repeat;
	background-position: center;
	
	max-height: 600px;
}

	header .menu{
		margin: 40px 0;
		text-align: right;
	}

		header .menu a{
			margin: 0 20px;
			color: #fff;
			padding-bottom: 9px;
			display: inline-block;
			text-decoration: none;
			border-bottom:  2px solid transparent;
			font-size: 1em;

		}

		header .menu a:hover{
			border-bottom: 2px solid #fff;
		}

	header .contenedorDeTexto{
		display: flex;
		justify-content: center;
		align-content:center;
		margin: 190px 0;
	}

		header .contenedorDeTexto .texto{
			border:  2px solid rgba(255,255,255,.5);
			border-radius: 3px;
			display: inline-block;
			text-align: center;
			padding: 20px 60px; 
		}
 
			header .contenedorDeTexto .texto .nombre{
				margin-bottom: 10px;
				font-size: 50px;
				line-height: 50px;
			}

			header .contenedorDeTexto .texto .profesion{
				font-size: 25px;
				line-height: 25px;
			}

/*header .contenedorDeTexto .texto h1{
	font-family: Napoleodoni;
	letter-spacing: 3px;
}*/

		header .contenedorDeTexto .texto h1,
		header .contenedorDeTexto .texto h2{
			color: white;
			font-weight: 300;
			margin: 0;
		}

.main .contenedor{
	overflow: visible;
	/*background-color: #191919;*/
	
}
	.main .acercaDe{
		text-align: center;

	}

	.main .acercaDe .foto{
		margin-top: -60px;
	}

	.main .acercaDe .foto img{
		vertical-align: top;
		border-radius: 50%;
		border: 5px solid rgba(255,255,255,0.2);
	}

	.main .acercaDe .texto {
		color: #5a5a5a;
		font-weight: 600;
		font-size: 1em;
		line-height: 30px;
		width: 80%;
		margin: 40px auto 60px auto;
	}

	.main .acercaDe .texto .titulo{
		font-size: 34px;
		line-height: 34px;
		margin-bottom: 40px;
		font-weight: 300;
		color: #dd820d;
		text-align: center;
	}

	.main .acercaDe .texto .bold{
		color: #3895ea;
		text-decoration: underline;
	}

	.main .trabajos{
		background: #f2f2f2;
		padding: 60px 0;
	}

	.main .trabajos .contenedor{
		overflow: hidden;
	}

	.main .trabajos .titulo{
		font-size:  34px;
		line-height: 34px;
		margin-bottom: 40px;
		font-weight: 300;
		color: #323068;
		text-align: center;
	}

	.main .trabajos .contenedorTrabajos{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.main .trabajos .contenedorTrabajos .trabajo{
		width: 23%;
		margin-bottom: 40px;
	}

	.main .trabajos .contenedorTrabajos .trabajo .thumb{
		width: 100%;
		margin-bottom: 10px;
	}

	.main .trabajos .contenedorTrabajos .trabajo .thumb img{
		width: 100%;
		vertical-align: top;
		border-radius: 3px;
	}

	.main .trabajos .contenedorTrabajos .trabajo .description{
		text-align: center;
	}

	.main .trabajos .contenedorTrabajos .trabajo .nombre{
		color: #3895ea;
		font-weight: 700;
		margin-bottom: 10px;
	}

	.main .trabajos .contenedorTrabajos .trabajo .categoria{
		font-size: 14px;
		color: #636363;
	}

footer .contacto{
	padding: 60px 0px;
	
}

footer .titulo{
	font-size:  34px;
	line-height: 34px;
	margin-bottom: 40px;
	font-weight: 300;
	color: #3895ea;
	text-align: center;
}

footer .contacto .formulario{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea{
	border: 2px solid #cecece;
	border-radius: 5px;
	padding: 15px 20px;
	font-size: 20px;
	color: #a4a4a4;
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus{
	border: 2px solid #3895ea;
}


footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
	width: 49%;
	margin-bottom: 15px;
}

footer .contacto .formulario textarea{
	width: 100%;
	height: 100px;
	min-width: 100%;
	max-width: 100%;
	min-height:100px;
	max-height: 300px;
	margin-bottom: 15px;

}

footer .contacto .formulario .boton{
	margin:  auto;
	background-color: #3895ea;
	color: #fff;
	border:none;
	border-radius: 3px;
	padding: 15px 40px;
	cursor: pointer;
}

footer .contacto .formulario .boton:hover{
	background-color:#387bea;
}


footer .redesSociales{
	background-color: #1e2b38;
	padding: 60px 0;
}
footer .redesSociales .contenedor{
	display: flex;
	justify-content: center;
}

footer .redesSociales a{
	color:#fff;
	text-align: center;
	width: 100px;
	display: block;
	padding: 15px 0;
	width: 100px;
	border-radius: 3px;
	font-size: 30px;
	margin: 0 20px;
	text-decoration: none;
}

.twitter:hover{
	background-color: #1da1f2;
} 

.facebook:hover{
	background-color: #3b5998;
} 
.youtube:hover{
	background-color: #cd201f;
} 
.github:hover{
	background-color: #666666;
} 
.instagram:hover{
	background-color: #3f729b;
}

@media screen and (max-width: 800px) {
	header .menu {
		text-align: center;
	}

	.main .trabajos .contenedorTrabajos .trabajo {
		width: 46%;
	}
	
}

@media screen and (max-width: 500px) {
	header .contenedorDeTexto .texto .nombre {
		font-size: 35px;
	}

	header .contenedorDeTexto .texto .profesion {
		font-size: 18px;
	}

	
}






