*{
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	/*background-color: #282828;*/
	background-color: #fff;
	font-family: Lato, Sans-serif;
	font-size: 16px;
}

.contenedor{
	/*background-color: #333333;*/
	width: 90%;
	max-width: 1200px;
	margin: auto;
	overflow:hidden;
}

/*-----------Header-----------*/

header{
	background:  url("../img/fondoImg.jpg") #49a3d6;
	background-repeat: no-repeat;
	background-position: center;
	
	max-height: 600px;
}

	header .menu{
		margin: 40px 0;
		text-align: right;
	}

		header .menu a{
			margin: 0 20px;
			color: #fff;
			padding-bottom: 9px;
			display: inline-block;
			text-decoration: none;
			border-bottom:  2px solid transparent;
			font-size: 1em;

		}

		header .menu a:hover{
			border-bottom: 2px solid #fff;
		}

	header .contenedorDeTexto{
		display: flex;
		justify-content: center;
		align-content:center;
		margin: 190px 0;
	}

		header .contenedorDeTexto .texto{
			border:  2px solid rgba(255,255,255,.5);
			border-radius: 3px;
			display: inline-block;
			text-align: center;
			padding: 20px 60px; 
		}
 
			header .contenedorDeTexto .texto .nombre{
				margin-bottom: 10px;
				font-size: 50px;
				line-height: 50px;
			}

			header .contenedorDeTexto .texto .profesion{
				font-size: 25px;
				line-height: 25px;
			}

/*header .contenedorDeTexto .texto h1{
	font-family: Napoleodoni;
	letter-spacing: 3px;
}*/

		header .contenedorDeTexto .texto h1,
		header .contenedorDeTexto .texto h2{
			color: white;
			font-weight: 300;
			margin: 0;
		}

.main .contenedor{
	overflow: visible;
	/*background-color: #191919;*/
	
}
	
	

	
	









@media screen and (max-width: 800px) {

}

@media screen and (max-width: 500px) {
	


	
}






